.father{
    display: flex;
    flex-wrap: wrap;
    width:1250px;
    background-color: grey;
    margin: 0 auto;
}
.box1 {
    width: 100%;
    height:200px;
    background-color:deepskyblue;
}
.father2{
    width: 960px;
    display: flex;
    flex-wrap: wrap;
}
.boxes{
    width: 300px;
    height: 200px;
    background-color: darkblue;
}
.box8{
    width:270px;
    height:420px;
    background-color: blueviolet;
}
.margin{
    margin: 10px 10px 10px 10px;
}
