.father{
    display: flex;
    flex-wrap: wrap;
    width:1200px;
    background-color: grey;
    margin: 0 auto;
}
.box1 {
    width: 100%;
    height:200px;
    background-color:deepskyblue;
}
.father2 {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
}
.box2{
    width:100%;
    height: 200px;
    background-color:chartreuse;
}
.boxes{
    height: 200px;
    width: 300px;
    background-color: lightcoral;
}
.box6{
    width: 220px;
    background-color: mediumslateblue;
}
.margin{
    margin: 10px 10px 10px 10px;
}