.father{
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    background-color: grey;
    margin: 0 auto;}

.box1 {
    width: 100%;
    height:200px;
    background-color:deepskyblue;
}
.box2{
    width: 800px;
    height:450px;
    background-color: red;
}
.box3{
    width:260px;
    height: 450px;
    background-color: aquamarine;
}
.margin{
    margin: 10px;
}


